body {
  min-width: 325px;
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: flex;
  max-width: 325px;
  background-color: gray;
  padding: 12px;
}
.btn-container {
  flex: 20%;
  display: flex;
  justify-content: center;
}
.value-container {
  font-size: 14px;
  flex: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
